.listItem {
    display: flex;
    justify-content: space-between;
    color: black;
    font-weight: 600;
}


.deleteBtn {
    background-color: rgb(255, 54, 54);
    color: black;
    margin-left: 15px;
    cursor: pointer;
    width: 100px;
    border: 2px solid rgb(255, 54, 54);
    border-radius: 10px;
    font-weight: 700;
}

.deleteBtn:hover {
    color: rgb(255, 255, 255);
    border: 2px solid  rgb(187, 39, 39);
    background-color: rgb(187, 39, 39);
}