.container {
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: rgb(180, 255, 151);
    padding-top: 70px;
    margin: 0 auto;
    border-radius: 20px;
    height: 100vh;
    display: flex;
    font-size: 30px;

}
.title {
    margin-bottom: 50px;
    font-size: 45px;
    color: rgb(53, 100, 34);;
}